html {
	box-sizing: border-box;
	font-family: 'Tinos';
	color: var(--text);
}

body {
	box-sizing: border-box;
	font-family: 'Tinos';
	color: var(--text);

	/* top level grid */
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 100%;
  grid-template-areas: "content"
                        "launchbar";
                        
                            hyphens:auto;
                        
}


#Titeltext {
    top: 35vh;
    left: 25vw;
    width: 50vw;
    text-align: center;
    font-family: Caveat Brush;
    font-size: 3em;
    color:black;
    position: absolute;
    z-index: 3;
}

.octo_kopf {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 25vw;
	height: auto;
    z-index:1;
}

.octo_arm_links{
    position: absolute;
	bottom: 0px;
	left: 0;
	width: 20vw;
	height: 40vh;
    transform: translateY(-25%);
	z-index:1;
}

#octo_arm_rechts_oben {
    position: absolute;
	top: 0;
	right: -10px;
	width: 28vw;
	height: 30vh;
    z-index:1;
}

.octo_arm_rechts_unten{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 40%;
	height: auto;
    z-index:1;
}

.octo_arm_links_unten{
    position: fixed;
	bottom: 0px;
	left: 0;
	width: 20%;
	height: auto;
    transform: translateY(-25%);
	z-index:1;
}
#arrowRight{
	top: 50vh;
	right: 1%;
	width: 4vw;
	height: auto;
	position: absolute;
}

#arrowLeft{
	top: 50vh;
	left: 1%;
	width: 4vw;
	height: auto;
	position: absolute;
}
#videobox {
	position: fixed;
	width: 30%;
	height: 60%;
	background-color: rgba(255, 255, 255, 0);
	top: 0px;
	left: 0px;
	z-index: 3;
	overflow-x: scroll;
	overflow-x: hidden;
}

/* Ab hier pulsierende Tentakel by A. Hager */


#tentacle_img_small_launchbar {
  animation: pulse 0.6s infinite;
  animation-iteration-count: 8;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}
