body {
    padding: 0px;
    margin: 0px;
    overflow: bottom;
    background-color: #990133; /*ToDo: sollte als var gesetzt werden*/
    color: white;
    font-family: Caveat Brush;
	background-image: url("../img/armStern.png");
    background-repeat: no-repeat;
    background-position: 15px -20px;
	}

	
h1{
	font-size: 4vw;
}

ueberschrift {
	text-align: center;
    font-family: "Caveat Brush";
    color: #f1f1f1;
    position: absolute;
    z-index: 3;
	margin: 0px;
	padding: 20px;
	font-family: sans-serif;
}

.titel {
	font-size: 4.5vw;
}

.sterntentakel {
	display: none; /*war flex, führte zu doppelter tentakel*/
	height: 20vw;
	margin-top: -22vh;
}

.videobox {
	margin-top: -10%;
	margin-left: 15%;
	margin-right: 15%;
	
}


.backtoMenu {
	
    font-family: "Caveat Brush";
	font-size: 2em;
	padding: 12px;
	color: #990133;
	background: #f1f1f1;
	border: 7px solid #000;
	border-radius: 7px;
	text-decoration: none;
	margin: 10vw;
}

.backtoLernvideos {
	
    font-family: "Caveat Brush";
	font-size: 2em;
	padding: 12px;
	color: #f1f1f1;
	background: none;
	border-radius: 7px;
	text-decoration: none;
	margin: 17vw;
}

.backtoLernvideos:hover {
	
    font-family: "Caveat Brush";
	font-size: 2em;
	padding: 5px;
	color: #f1f1f1;
	background: none;
	border-radius: 7px;
	text-decoration: none;
	border: 6px solid #f1f1f1;
	margin: 17vw;
}

.dnSlide-main, .dnSlide-main2 {
  display: justify-content;
  position: relative;
  top: -3vh;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  list-style: none;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  -webkit-tap-highlight-color: transparent;
}
.dnSlide-main.done, .dnSlide-main2.done {
  visibility: visible;
}
.dnSlide-main.dn-response, .dnSlide-main2.dn2-response {
  width: 100%;
}
.dnSlide-main.dn-response .dnSlide-list {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 0px;
}
.dnSlide-main2.dn2-response .dnSlide2-list {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 0px;
}
.dnSlide-main a, .dnSlide-main img, .dnSlide-main2 a, .dnSlide-main2 img {
  display: block;
  border: 0px;
}
.dnSlide-main .dnSlide-list, .dnSlide-main2 .dnSlide2-list {
  width: 800px;
  height: 234px;
  list-style: none;
}
.dnSlide-main .dnSlide-btn, .dnSlide-main2 .dnSlide2-btn {
  color: black;
  height: 234px;
  width: 100px;
  opacity: 0.0;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.3s;
  z-index: 10;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}
.dnSlide-main .dnSlide-btn:hover, .dnSlide-main2 .dnSlide2-btn:hover {
  opacity: 0.0;
  transition: opacity 0.3s;
}
.dnSlide-main.dnSlide-hide, .dnSlide-main2.dnSlide2-hide {
  display: none;
}
.dnSlide-main .dnSlide-item, .dnSlide-main2 .dnSlide2-item {
  position: absolute;
  top: 0px;
  left: 0px;
}
.dnSlide-main .dnSlide-left-btn, .dnSlide-main2 .dnSlide2-left-btn {
  background-image: url("../images/left.svg");
  background-size: 35%;
  left: 0;
}
.dnSlide-main .dnSlide-right-btn, .dnSlide-main2 .dnSlide2-right-btn {
  background-image: url("../images/right.svg");
  background-size: 35%;
  right: 0;
  left: auto;
}

@media \0screen\,screen\9 {
  .dnSlide-main, .dnSlide-main2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .dnSlide-main .dnSlide-right-btn, .dnSlide-main2 .dnSlide2-right-btn {
    background-image: url("../images/right.png");
  }

  .dnSlide-main .dnSlide-left-btn, .dnSlide-main2 .dnSlide2-left-btn {
    background-image: url("../images/left.png");
  }
}
