html {	box-sizing: border-box;
	font-family: 'Tinos';
	color: var(--text);
}

body {
	/* Location of the image */
	background-image: url(../img/bg.jpg);
	
	/* Image is centered vertically and horizontally at all times */
	background-position: center center;
	
	/* Image doesn't repeat */
	background-repeat: no-repeat;
	
	/* Makes the image fixed in the viewport so that it doesn't move when 
	   the content height is greater than the image height */
	background-attachment: fixed;
	
	/* This is what makes the background image rescale based on its container's size */
	background-size: cover;
	
	/* Pick a solid background color that will be displayed while the background image is loading */
	background-color:#464646;
	
	/* SHORTHAND CSS NOTATION
	 * background: url(background-photo.jpg) center center cover no-repeat fixed;
	 */
  }


#title a {
    text-decoration: none;
    color: var(--text);
}

.upper{
	text-transform: uppercase;
}

.IDEAS{
	font-size: 1.1153846153846153846153846153846em;
}

.container {
	position: relative;
	margin-bottom: 5vh;
	margin-right: 5vh;
	margin-left: 5vh;
	margin-top:15vh;
	display: flex;
	height: 13vw;
	width: auto;
	max-width: 13vw
}
 
/*Icons IT Quizz*/
.kegel {
	position: absolute;
	top: 0%;
	left: 35%;
	max-width: 60%;
	max-height: 60%;
}

.fisch {
	background-image: url("../img/background/bubble01.png");
	background-size: 71%;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	top: 0%;
	left: 20%;
	max-width: 80%;
	max-height: 80%;
}

.schachfigur {
	position: absolute;
	top: 20%;
	left: 50%;
	max-width: 80%;
	max-height: 80%;
}
 

/* Tooltip Text*/
.tooltiptext{
	visibility: hidden;
	 top: 40%;
	 left: 30%;
	 font-family: Caveat Brush;
	 font-size: 2em;
	 color: white;
	 position: absolute;
	 z-index: 2;
 }
/* Tooltip Text Hover Mouseover*/

 .tooltiphover:hover .tooltiptext{
	visibility: visible;
	color: black;
	font-size: 3vw;
	text-indent: 0px;
	text-shadow: 1px 1px 1px white;
}


.IntroText {
	width: 150%;
	align-items: center;
	text-align: justify;
	font-family: "Caveat Brush";
	color: #991b33;
	font-size: 1.0em;
	
	line-height: 0.9em;
	
	margin-top: 10%;
}

.Untertitel {
	width: 140%;
	align-items: center;
	text-align: center;
	font-family: "Caveat Brush";
	color: #991b33;
	font-size: 1.2em;
	
	line-height: 0.9em;
	
	margin-top: 65%;
}


.klecks {
	top: -10%;
	left: -10%;
	max-width: 160%;
	max-height: 160%;
}

/* Tooltip container */
.tooltip {
    width:1px;
    height:1px;
}


.Aufforderung {
    top: 5vh;
    left: 23vw;
    width: 30vw;
    text-align: center;
    font-family: Caveat Brush;
    font-size: 3vw;
    color:black;
    position: absolute;
    z-index: 3;
	background-color: rgba(255, 255, 255, .5); /* linear-gradient(90deg, #1fb7b7, #000) */
	/* border: 3px solid #fff; */
	border-radius: 20px;
	line-height: 3vw;
}

/*New flex layout */

.containerFlex  {
	margin-bottom: 60vh !important;
	display:flex !important;
	flex-wrap: wrap!important;
	justify-content: space-around!important;
	align-content: space-around!important;
}