body {
  /* Location of the image */
  background-image: url(img/bg.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(img/bg.jpg);
  }
	}
	
img {
	max-width: 100%;
	max-height: 100%;
}

.fish {
		position: absolute;
		width: 200px;
		height: 200px;
		opacity: 0.3;
		background-size: contain;
		background-image: url(img/QuizMeerestiere/bwl/bwl-02.png);
		background-repeat: no-repeat;
		z-index: -10;
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: 850px;
}

.animated {
	background-image: url("img/background/bubble01.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: top;	
}

.loginkopf {
	position: fixed;
	bottom: 0px;
	right: 0px;
	/*heigth: 100%;*/
	width: 100px;
}

h1 {
	color: #CC4425;
	font-family: 'Arial-Narrow', sans-serif;
	font-size: 3rem;
	line-height: 1.15;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: .5em;
	text-transform: uppercase;
}

h1 span {
	color: #DDD;
	font-size: .5em;
	display: block;
}

p {
	color: #3E4147;
	font-family: 'Arial', serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
	margin-bottom: 2em;
}

.outer {
	position: relative;
}

.inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


@media (min-width: 600px) {
	p {
		font-size: 1.25rem;
	}
	.img{max-width: 40%;}
	.outer{height: 700px;}
}

@media(min-width: 800px) {
	p {
		font-size: 1.5rem;
		line-height: 1.5;
	}
	.img{max-width: 50%;}
	.outer{height: 700px;}
}
figcaption {
  width: 30%;
	text-align: center;
	font-family: 'Caveat Brush';
	color: white;
	font-size: 2.0rem;
	line-height: 1.6rem;
}
figure {
max-width: 300px;
}
